 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/52hjcTAn7wVrV3UXzHx8_T0RfmHOH4TcSQxjnCbS2Bb9TOH45bHjZL30WyIyCLJzknDko0XLZBut5u-FBbQzAFRe.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 334px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Jost;
  margin: 117px 346px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  font-family: Jost;
  margin: 34px 640px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 146px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 440px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 220px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 276px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 48px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  font-weight: 300;
  width: 780px;
  margin: 22px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 43px auto 46px;
  padding: 6px 24px 7px 23px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1210px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 600;
  width: 313px;
  margin: 92px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 33px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 215px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-image-1 {
  width: 128px;
  height: 128px;
  background-image: url("images/5889596-pbkyyhds-v4.webp");
  background-position: 50% 50%;
  margin: 47px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -102px 0 0 177px;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 0 0 177px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-3 .u-image-2 {
  width: 128px;
  height: 128px;
  object-position: 26.64% 50%;
  background-image: url("images/joSkPMqsNI8.jpg");
  background-position: 50% 50%;
  margin: 47px auto 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -102px 0 0 177px;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 0 0 177px;
}

.u-section-3 .u-list-2 {
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-2 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 215px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-3 .u-image-3 {
  width: 128px;
  height: 128px;
  background-image: url("images/emotion_fluent_winter.svg");
  background-position: 50% 50%;
  margin: 47px auto 0 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -102px 0 0 177px;
}

.u-section-3 .u-text-7 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 0 0 177px;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-3 .u-image-4 {
  width: 128px;
  height: 128px;
  object-position: 26.64% 50%;
  background-image: url("images/emotion_fluent_winter.svg");
  background-position: 50% 50%;
  margin: 47px auto 0 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -102px 0 0 177px;
}

.u-section-3 .u-text-9 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 0 0 177px;
}

.u-section-3 .u-list-3 {
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-3 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 215px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-3 .u-image-5 {
  width: 128px;
  height: 128px;
  background-image: url("images/emotion_fluent_winter.svg");
  background-position: 50% 50%;
  margin: 47px auto 0 0;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -102px 0 0 177px;
}

.u-section-3 .u-text-11 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 0 0 177px;
}

.u-section-3 .u-list-item-6 {
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-3 .u-image-6 {
  width: 128px;
  height: 128px;
  object-position: 26.64% 50%;
  background-image: url("images/emotion_fluent_winter.svg");
  background-position: 50% 50%;
  margin: 47px auto 0 0;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -102px 0 0 177px;
}

.u-section-3 .u-text-13 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 0 0 177px;
}

.u-section-3 .u-list-4 {
  width: 570px;
  margin: 8px auto 33px 0;
}

.u-section-3 .u-repeater-4 {
  grid-template-columns: 100%;
  min-height: 215px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-list-item-7 {
  background-image: none;
}

.u-section-3 .u-container-layout-7 {
  padding: 0 30px;
}

.u-section-3 .u-image-7 {
  width: 128px;
  height: 128px;
  background-image: url("images/emotion_fluent_winter.svg");
  background-position: 50% 50%;
  margin: 47px auto 0 0;
}

.u-section-3 .u-text-14 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -102px 0 0 177px;
}

.u-section-3 .u-text-15 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 0 0 177px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 177px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 177px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
  }

  .u-section-3 .u-repeater-3 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 177px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
  }

  .u-section-3 .u-text-12 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 506px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 28px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 44px;
    margin-left: 30px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -112px;
    margin-right: 127px;
    margin-left: 189px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: -129px;
    margin-left: 189px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 28px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 44px;
    margin-left: 30px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -112px;
    margin-right: 127px;
    margin-left: 189px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-right: -129px;
    margin-left: 189px;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-repeater-3 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: 37px;
    margin-left: 99px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -71px;
    margin-left: 99px;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 20px;
    margin-right: 37px;
    margin-left: 99px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 99px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-list-4 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2306px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 587px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 32px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 14px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 32px;
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 14px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-list-2 {
    margin-top: 11px;
    width: 100%;
  }

  .u-section-3 .u-repeater-2 {
    min-height: 587px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: 32px;
    margin-left: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 17px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 16px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-4 {
    margin-top: 32px;
    margin-left: auto;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 17px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 16px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-list-3 {
    margin-top: 10px;
  }

  .u-section-3 .u-repeater-3 {
    min-height: 587px;
  }

  .u-section-3 .u-image-5 {
    margin-top: 36px;
    margin-left: auto;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-3 .u-image-6 {
    margin-top: 36px;
    margin-left: auto;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-3 .u-list-4 {
    margin-top: 14px;
    margin-bottom: 60px;
    width: 100%;
  }

  .u-section-3 .u-repeater-4 {
    min-height: 287px;
  }

  .u-section-3 .u-image-7 {
    margin-top: 34px;
    margin-left: auto;
  }

  .u-section-3 .u-text-14 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-text-15 {
    width: auto;
    margin-top: 14px;
    margin-left: 0;
  }
}