 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 155px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 36px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 12px 59px 36px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1772px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 22px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1060px;
  margin: 18px auto 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 706px;
  grid-template-columns: calc(33.3333% - 23.3333px) calc(33.3333% - 23.3333px) calc(33.3333% - 23.3333px);
  grid-gap: 35px 35px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 8px;
}

.u-section-2 .u-image-1 {
  height: 449px;
  object-position: 72.96% 50%;
  width: 310px;
  margin: 13px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 27px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 7px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: 18px auto 0;
  padding: 10px 91px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 8px;
}

.u-section-2 .u-image-2 {
  height: 449px;
  object-position: 54.79% 50%;
  width: 310px;
  margin: 13px auto 0;
}

.u-section-2 .u-text-4 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 27px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: 7px auto 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  margin: 18px auto 0;
  padding: 10px 91px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 8px;
}

.u-section-2 .u-image-3 {
  height: 449px;
  object-position: 49.43% 50%;
  width: 310px;
  margin: 13px auto 0;
}

.u-section-2 .u-text-6 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 27px auto 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  margin: 7px auto 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  margin: 18px auto 0;
  padding: 10px 91px;
}

.u-section-2 .u-list-2 {
  width: 1060px;
  margin: 27px auto 22px;
}

.u-section-2 .u-repeater-2 {
  min-height: 822px;
  grid-template-columns: calc(33.3333% - 23.3333px) calc(33.3333% - 23.3333px) calc(33.3333% - 23.3333px);
  grid-gap: 35px 35px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-image-4 {
  height: 449px;
  object-position: 41.7% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-8 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.125rem;
  margin: 7px 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  margin: 18px auto 0;
  padding: 10px 91px;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-image-5 {
  height: 449px;
  object-position: 13.44% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.125rem;
  margin: 7px 0 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  margin: 18px auto 0;
  padding: 10px 91px;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

.u-section-2 .u-image-6 {
  height: 449px;
  object-position: 49.43% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-12 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-2 .u-text-13 {
  font-size: 1.125rem;
  margin: 7px 0 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  margin: 18px auto 0;
  padding: 10px 91px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 626px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 23.333299999999998px));
  }

  .u-section-2 .u-image-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-2 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-3 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-list-2 {
    width: 940px;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 729px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 23.333299999999998px));
  }

  .u-section-2 .u-image-4 {
    height: 395px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-5 {
    height: 395px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-6 {
    height: 395px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1438px;
    grid-template-columns: repeat(2, calc(50% - 17.499975px));
  }

  .u-section-2 .u-list-2 {
    width: 720px;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 1675px;
    grid-template-columns: repeat(2, calc(50% - 17.499975px));
  }

  .u-section-2 .u-image-4 {
    height: 458px;
  }

  .u-section-2 .u-image-5 {
    height: 458px;
  }

  .u-section-2 .u-image-6 {
    height: 458px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-list-2 {
    width: 540px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-4 {
    height: 700px;
  }

  .u-section-2 .u-image-5 {
    height: 700px;
  }

  .u-section-2 .u-image-6 {
    height: 700px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-btn-1 {
    padding-right: 121px;
    padding-left: 119px;
  }

  .u-section-2 .u-btn-2 {
    padding-right: 121px;
    padding-left: 119px;
  }

  .u-section-2 .u-btn-3 {
    padding-right: 121px;
    padding-left: 119px;
  }

  .u-section-2 .u-list-2 {
    width: 340px;
  }

  .u-section-2 .u-image-4 {
    height: 431px;
  }

  .u-section-2 .u-image-5 {
    height: 431px;
  }

  .u-section-2 .u-image-6 {
    height: 431px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 783px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 8px auto 0;
}

.u-section-3 .u-list-1 {
  width: 1060px;
  margin: 30px auto 0;
}

.u-section-3 .u-repeater-1 {
  min-height: 706px;
  grid-template-columns: calc(33.3333% - 23.3333px) calc(33.3333% - 23.3333px) calc(33.3333% - 23.3333px);
  grid-gap: 35px 35px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-image-1 {
  height: 449px;
  object-position: 38.43% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  margin: 7px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-image-2 {
  height: 449px;
  object-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  margin: 7px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-image-3 {
  height: 449px;
  object-position: 49.43% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-6 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.125rem;
  margin: 7px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 626px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 23.333299999999998px));
  }

  .u-section-3 .u-image-1 {
    object-position: 72.96% 50%;
    height: 395px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-scale: 1;
    transition-duration: 0.5s;
  }

  .u-section-3 .u-image-2 {
    height: 395px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-scale: 1;
    transition-duration: 0.5s;
  }

  .u-section-3 .u-image-3 {
    height: 395px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-scale: 1;
    transition-duration: 0.5s;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1438px;
    grid-template-columns: repeat(2, calc(50% - 17.499975px));
  }

  .u-section-3 .u-image-1 {
    height: 458px;
  }

  .u-section-3 .u-image-2 {
    height: 458px;
  }

  .u-section-3 .u-image-3 {
    height: 458px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 700px;
  }

  .u-section-3 .u-image-2 {
    height: 700px;
  }

  .u-section-3 .u-image-3 {
    height: 700px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    height: 431px;
  }

  .u-section-3 .u-image-2 {
    height: 431px;
  }

  .u-section-3 .u-image-3 {
    height: 431px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 944px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 34px auto 60px 60px;
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1085px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 26px;
    margin-left: 15px;
  }
}